.container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

.card {
    border: none;
}

.card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

#start-quiz-button {
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
}

.form-control {
    margin-bottom: 10px;
}

#quiz-section {
    display: none;
    margin-top: 20px;
}

#timer-container {
    font-weight: bold;
    margin-top: 10px;
}

#audio-player {
    margin-top: 20px;
}

#song-guess {
    margin-top: 10px;
}

#submit-answer {
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #3c763d;
    padding: 10px 15px;
    margin-top: 10px;
}

.alert-danger {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #a94442;
    padding: 10px 15px;
    margin-top: 10px;
}

.btn-dont-know {
    background-color: #dc3545;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-dont-know:hover {
    background-color: #c82333;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .card-header {
        padding: 5px;
    }

    #start-quiz-button {
        margin-top: 5px;
        padding: 5px 10px;
    }

    .form-control {
        margin-bottom: 5px;
    }

    #quiz-section {
        margin-top: 10px;
    }

    #timer-container {
        margin-top: 5px;
    }

    #audio-player {
        margin-top: 10px;
    }

    #song-guess {
        margin-top: 5px;
    }

    #submit-answer {
        margin-top: 5px;
        padding: 5px 10px;
    }
}