.alert-success {
    background-color: #dff0d8; /* Green background color */
    color: #3c763d; /* Dark green text color */
    border: 1px solid #3c763d; /* Dark green border */
    padding: 10px 15px; /* Add padding top and bottom 10px, left and right 15px */
    margin-top: 10px;
}

.alert-danger {
    background-color: #f2dede; /* Red background color */
    color: #a94442; /* Dark red text color */
    border: 1px solid #a94442; /* Dark red border */
    padding: 10px 15px; /* Add padding top and bottom 10px, left and right 15px */
    margin-top: 10px;
}




