{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Login</title>
{% endblock %}



{% block content %}
    <h1>Login</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username_or_email">Username or Email</label>
            <input type="text" class="form-control" id="username_or_email" name="username_or_email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}