{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Registration</title>
{% endblock %}

{% block cssLink %}
    <link rel='stylesheet' href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
    <div class="registration-container">
        <h1>Registration</h1>
        <form method="POST" class="registration-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            
            <button type="submit" class="btn btn-primary">Register</button>

            <p class="mt-3">If you already have an account <a href="{% url 'AccountsApp:login' %}" class="btn btn-link" style='text-decoration:none;'>Log In here</a></p>
        </form>
    </div>
{% endblock %}