{% extends 'base.html' %}

{% block title %}
    <title>Homepage</title>
{% endblock %}

{% block content %}
    {% if not request.session.access_token %}
        <div class="container text-center mt-5">
            <h1 class="mb-4">Welcome to MelodyMasterQuiz</h1>

            <div class="card p-4">
                <h2 class="card-title mb-3">To access full functionality, please <a href="{% url 'spotify_auth_app:profile' %}" class="btn btn-primary">Log in</a>
                     with your <span style='color:green;'>Spotify</span> account.
                </h2>
            </div>
        </div>
    {% endif %}
{% endblock %}