{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Homepage</title>
{% endblock %}

{% block cssLink %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
    {% if not request.session.access_token %}
        <div class="container text-center mt-5">
            <h1 class="mb-4">Welcome to MelodyMasterQuiz</h1>

            <div class="card p-4">
                <h2 class="card-title mb-3">To access full functionality, please <a href="{% url 'spotify_auth_app:profile' %}" class="btn btn-primary">Log in</a>
                     with your <span style='color:green;'>Spotify</span> account.
                </h2>
            </div>
        </div>
    {% else %}
        <div class="container mt-5">
            {% if game_statistics %}
                <div class="card">
                    <div class="card-header">
                        Your Game Statistics
                    </div>
                    <div class="card-body">
                        <p>Correct Answers: {{ game_statistics.correct_answers }}</p>
                        <p>Incorrect Answers: {{ game_statistics.incorrect_answers }}</p>
                        <p>Total Questions Attempted: {{ game_statistics.correct_answers|add:game_statistics.incorrect_answers }}</p>
                    </div>
                </div>
            {% else %}
                <p class="no-game-message">You haven't played the game yet.</p>
            {% endif %}

            <div class="card mt-5">
                <div class="card-header">
                    Leaderboard
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Username</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for score in top_scores %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ score.user.username }}</td>
                                    <td>{{ score.score }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}