{% extends 'base.html' %}

{% block title %}
    <title>QuizGame</title>
{% endblock %}

{% block content %}
    <h1>Game Page</h1>

    <div id='timer'>30</div>
    <audio controls id="song-preview">
        <source src="" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <input type="text" id="song-guess" placeholder="Enter the song name">
    <button id='submit-answer'>Submit Answer</button>

    <script>
        // Existing timer code

        const songPreviewElement = document.getElementById('song-preview');
        const songGuessElement = document.getElementById('song-guess');
        const submitAnswerButton = document.getElementById('submit-answer');

        function startQuiz() {
            // Fetch song and start timer
            fetchSongAndStartTimer();
        }

        function fetchSongAndStartTimer() {
            fetch('/quiz/api/get_random_song/')  // Update the API endpoint
                .then(response => response.json())
                .then(data => {
                    const songPreviewURL = data.song_preview_url;
                    songPreviewElement.src = songPreviewURL;
                    startTimer();
                })
                .catch(error => {
                    console.error('Error fetching song:', error);
                });
        }

        startQuiz();

        // Submit user's answer
        submitAnswerButton.addEventListener('click', () => {
            const userGuess = songGuessElement.value.trim();
            if (userGuess) {
                submitUserGuess(userGuess);
            }
        });

        function submitUserGuess(guess) {
            fetch(`/MelodyQuizApp/api/submit_guess/?guess=${encodeURIComponent(guess)}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    // Handle response data, update score, etc.
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error submitting guess:', error);
                });
        }
    </script>

{% endblock %} 